In [30]:
import requests
import pandas as pd
from datetime import datetime

# Generamos archivo con todos los casos

In [14]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/CaseDetail'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
casos = pd.DataFrame(data)

In [15]:
casos_eliminados = casos['statusId']=='WeCancelled'
casos_activos = casos[~casos_eliminados]

In [16]:
ahora = pd.Timestamp("now").strftime("%Y%m%d_%H_%M_%S")
report_name = "Listado_Casos_Positivos_"
filename = "{}{}.xlsx".format(report_name,ahora)
casos_activos.to_excel(filename)

In [12]:
casos_activos.loc[:,'lastTestDate']

0       1.587960e+12
1       1.588133e+12
2       1.588133e+12
3       1.587960e+12
4       1.587960e+12
            ...
3116             NaN
3117    1.589515e+12
3118    1.589256e+12
3119             NaN
3120    1.588219e+12
Name: lastTestDate, Length: 3092, dtype: float64

In [35]:
casos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   workEffortTypeEnumId            3122 non-null   object
 1   facilityId                      3122 non-null   object
 2   actualStartDate                 3122 non-null   int64
 3   workEffortId                    3122 non-null   object
 4   monitoringTeamId                3116 non-null   object
 5   specialistPartyId               3122 non-null   object
 6   caseTrackingTypeEnumId          2592 non-null   object
 7   lastTestDate                    2265 non-null   float64
 8   lastTestResultsDate             1439 non-null   float64
 9   lastTestResultsEnumId           2294 non-null   object
 10  lastPatientStatusEnumId         2105 non-null   object
 11  caretakerPartyId                1164 non-null   object
 12  firstFamilyInfection            1787 non-null   object
 13  observations                    694 non-null    object
 14  isolation                       1505 non-null   object
 15  quarantineInYourPrivateAddress  1461 non-null   object
 16  statusId                        29 non-null     object
 17  familyContactPartyId            122 non-null    object
 18  familyContactComment            22 non-null     object
dtypes: float64(2), int64(1), object(16)
memory usage: 463.5+ KB

In [64]:
casos_activos['actualStartDate']/1000

0       1.587614e+09
1       1.589602e+09
2       1.589342e+09
3       1.589429e+09
4       1.587614e+09
            ...
3117    1.589602e+09
3118    1.589602e+09
3119    1.589602e+09
3120    1.589602e+09
3121    1.588219e+09
Name: actualStartDate, Length: 3093, dtype: float64

In [60]:
fecha

-9223372036854775808

In [61]:
casos_activos.loc[100]

workEffortTypeEnumId                   WetCovidCase
facilityId                                    10002
actualStartDate                       1589428800000
workEffortId                                 105485
monitoringTeamId                              10002
specialistPartyId                             10009
caseTrackingTypeEnumId            CaTrTyQuarantined
lastTestDate                                    NaN
lastTestResultsDate                             NaN
lastTestResultsEnumId                           NaN
lastPatientStatusEnumId                         NaN
caretakerPartyId                              10031
firstFamilyInfection                              N
observations                                    NaN
isolation                                         Y
quarantineInYourPrivateAddress                    Y
statusId                                        NaN
familyContactPartyId                            NaN
familyContactComment                            NaN
Name: 100, dtype: object

In [44]:
transforma_fecha = lambda x: datetime.fromtimestamp(x/1000) if

In [43]:
casos_activos['actualStartDate']

0       1587614400000
1       1589601600000
2       1589342400000
3       1589428800000
4       1587614400000
            ...
3117    1589601600000
3118    1589601600000
3119    1589601600000
3120    1589601600000
3121    1588219200000
Name: actualStartDate, Length: 3093, dtype: int64

In [54]:
transforma_fecha(fecha)

datetime.datetime(2020, 4, 29, 0, 0)

In [27]:
arrow.get(fecha)

TypeError: Can't parse single argument of type '<class 'numpy.int64'>'

# Cargamos el listado de personas (parties)

In [70]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/Base/PartyDetail'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
personas = pd.DataFrame(data)

In [73]:
personas.head(100)

,partyId,pseudoId,partyTypeEnumId,ownerPartyId,firstName,lastName,occupation,nationality,gender,birthDate,mothersMaidenName,workInHealth,healthInsuranceRoleTypeId,organizationName
0,_NA_,_NA_,PtyPerson,_NA_,Not,Applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,10001,PtyPerson,_NA_,Javier,Errázuriz,MeSpTyOther,CHL,NaN,NaN,NaN,NaN,NaN,NaN
2,10002,10002,PtyPerson,_NA_,Eucaris,Perea,MeSpTyMedic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10003,10003,PtyPerson,_NA_,Alvaro,Villanueva,MeSpTyKine,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004,10004,PtyPerson,_NA_,Carolina,Carrillo,MeSpTyDent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100195,100195,PtyPerson,_NA_,Sofia,Alegria,NaN,CHL,F,1.443323e+12,Rojas,NaN,NaN,NaN
96,100196,100196,PtyPerson,_NA_,Luis,Alegria,NaN,CHL,M,5.626476e+11,Carrasco,NaN,NaN,NaN
97,100197,100197,PtyPerson,_NA_,Maribel,Rojas,NaN,CHL,F,5.582448e+11,Carrasco,NaN,NaN,NaN
98,100198,100198,PtyPerson,_NA_,Manuel Rodrigo,Quijada,NaN,CHL,M,7.691472e+11,Miranda,NaN,NaN,NaN
99,100199,100199,PtyPerson,_NA_,Sylvia,Vasquez,NaN,CHL,F,-2.472624e+11,Sandoval,NaN,NaN,NaN

In [79]:
personas.loc[1]

partyId                            10001
pseudoId                           10001
partyTypeEnumId                PtyPerson
ownerPartyId                        _NA_
firstName                         Javier
lastName                       Errázuriz
occupation                   MeSpTyOther
nationality                          CHL
gender                               NaN
birthDate                            NaN
mothersMaidenName                    NaN
workInHealth                         NaN
healthInsuranceRoleTypeId            NaN
organizationName                     NaN
Name: 1, dtype: object

In [65]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/CaseTest'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
tests = pd.DataFrame(data)

In [66]:
tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3289 entries, 0 to 3288
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   caseTestId           3289 non-null   object
 1   workEffortId         3289 non-null   object
 2   testTypeEnumId       2431 non-null   object
 3   testStatusEnumId     3227 non-null   object
 4   testDate             2425 non-null   float64
 5   testSiteEnumId       2501 non-null   object
 6   resultsDate          1567 non-null   float64
 7   testResultsEnumId    2503 non-null   object
 8   lastUpdatedStamp     3289 non-null   int64
 9   specialistPartyId    2080 non-null   object
 10  workEffortContentId  61 non-null     object
 11  testComment          227 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 308.5+ KB

In [67]:
tests.head()

,caseTestId,workEffortId,testTypeEnumId,testStatusEnumId,testDate,testSiteEnumId,resultsDate,testResultsEnumId,lastUpdatedStamp,specialistPartyId,workEffortContentId,testComment
0,100000,100001,CoTyTeNasoOroFar,CoStTeYes,1.583809e+12,CoSiTeMunicipal,1.583809e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
1,100001,100002,CoTyTeNasoOroFar,CoStTeYes,1.583982e+12,CoSiTeMunicipal,1.583982e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
2,100002,100003,CoTyTeNasoOroFar,CoStTeYes,1.583982e+12,CoSiTeMunicipal,1.583982e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
3,100003,100004,CoTyTeNasoOroFar,CoStTeYes,1.584068e+12,CoSiTeMunicipal,1.584068e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
4,100004,100005,CoTyTeOther,CoStTeYesDenied,1.584241e+12,CoSiTeOther,1.584241e+12,CoReTeTestDenied,1588297950063,NaN,NaN,NaN

In [69]:
tests.loc[tests.groupby('workEffortId').resultsDate.idxmax(),:]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [71]:
sorted = tests.sort_values(by=['workEffortId','resultsDate'],ascending=False)

In [94]:
tests_rapidos = sorted['testTypeEnumId']=='CoTyTeFastTest'
tests_positivos = sorted['testResultsEnumId']=='CoReTePositive'

SyntaxError: invalid syntax (<ipython-input-88-34c9c4948923>, line 1)

In [95]:
tests_filtrados = sorted[~tests_rapidos & tests_positivos]

In [104]:
tests_positivos_duplicados = tests_filtrados[tests_filtrados.duplicated(subset='workEffortId',keep=False)]

In [107]:
test_multiples = sorted[sorted.duplicated(subset=['workEffortId','testDate'],keep=False)]

In [ ]:
test_