In [108]:
import requests
import pandas as pd
from datetime import datetime

# Generamos archivo con todos los casos

In [109]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/CaseDetail'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
casos = pd.DataFrame(data)

In [110]:
casos_eliminados = casos['statusId']=='WeCancelled'
casos_activos = casos[~casos_eliminados]

In [111]:
ahora = pd.Timestamp("now").strftime("%Y%m%d_%H_%M_%S")
report_name = "Listado_Casos_Positivos_"
filename = "{}{}.xlsx".format(report_name,ahora)
casos_activos.to_excel(filename)

In [112]:
casos_activos.loc[:,'lastTestDate']

0       1.587960e+12
1       1.588133e+12
2       1.588133e+12
3       1.587960e+12
4       1.587960e+12
            ...
3156             NaN
3157    1.589515e+12
3158    1.589256e+12
3159             NaN
3160    1.588219e+12
Name: lastTestDate, Length: 3129, dtype: float64

In [113]:
casos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3161 entries, 0 to 3160
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   workEffortTypeEnumId            3161 non-null   object
 1   facilityId                      3161 non-null   object
 2   actualStartDate                 3161 non-null   int64
 3   workEffortId                    3161 non-null   object
 4   monitoringTeamId                3149 non-null   object
 5   specialistPartyId               3161 non-null   object
 6   caseTrackingTypeEnumId          2617 non-null   object
 7   lastTestDate                    2283 non-null   float64
 8   lastTestResultsDate             1452 non-null   float64
 9   lastTestResultsEnumId           2312 non-null   object
 10  lastPatientStatusEnumId         2118 non-null   object
 11  caretakerPartyId                1178 non-null   object
 12  firstFamilyInfection            1826 non-null   object
 13  observations                    717 non-null    object
 14  isolation                       1544 non-null   object
 15  quarantineInYourPrivateAddress  1500 non-null   object
 16  statusId                        32 non-null     object
 17  familyContactPartyId            122 non-null    object
 18  familyContactComment            22 non-null     object
dtypes: float64(2), int64(1), object(16)
memory usage: 469.3+ KB

In [114]:
casos_activos['actualStartDate']/1000

0       1.587614e+09
1       1.589602e+09
2       1.589342e+09
3       1.589429e+09
4       1.587614e+09
            ...
3156    1.589602e+09
3157    1.589602e+09
3158    1.589602e+09
3159    1.589602e+09
3160    1.588219e+09
Name: actualStartDate, Length: 3129, dtype: float64

In [115]:
fecha

-9223372036854775808

In [116]:
casos_activos.loc[100]

workEffortTypeEnumId                   WetCovidCase
facilityId                                    20004
actualStartDate                       1589256000000
workEffortId                                 100801
monitoringTeamId                              10000
specialistPartyId                            102397
caseTrackingTypeEnumId            CaTrTyQuarantined
lastTestDate                            1.58796e+12
lastTestResultsDate                     1.58796e+12
lastTestResultsEnumId                CoReTePositive
lastPatientStatusEnumId                 PaStTyLight
caretakerPartyId                             102397
firstFamilyInfection                            NaN
observations                                    NaN
isolation                                       NaN
quarantineInYourPrivateAddress                  NaN
statusId                                        NaN
familyContactPartyId                            NaN
familyContactComment                            NaN
Name: 100, dtype: object

In [117]:
transforma_fecha = lambda x: datetime.fromtimestamp(x/1000) if

SyntaxError: invalid syntax (<ipython-input-117-44bf66ef1800>, line 1)

In [118]:
casos_activos['actualStartDate']

0       1587614400000
1       1589601600000
2       1589342400000
3       1589428800000
4       1587614400000
            ...
3156    1589601600000
3157    1589601600000
3158    1589601600000
3159    1589601600000
3160    1588219200000
Name: actualStartDate, Length: 3129, dtype: int64

In [119]:
transforma_fecha(fecha)

ValueError: year -292275055 is out of range

In [120]:
arrow.get(fecha)

TypeError: Can't parse single argument of type '<class 'numpy.int64'>'

# Cargamos el listado de personas (parties)

In [121]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/Base/PartyDetail'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
personas = pd.DataFrame(data)

In [122]:
personas.head(100)

,partyId,pseudoId,partyTypeEnumId,ownerPartyId,firstName,lastName,occupation,nationality,gender,birthDate,mothersMaidenName,workInHealth,healthInsuranceRoleTypeId,organizationName
0,_NA_,_NA_,PtyPerson,_NA_,Not,Applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,10001,PtyPerson,_NA_,Javier,Errázuriz,MeSpTyOther,CHL,NaN,NaN,NaN,NaN,NaN,NaN
2,10002,10002,PtyPerson,_NA_,Eucaris,Perea,MeSpTyMedic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10003,10003,PtyPerson,_NA_,Alvaro,Villanueva,MeSpTyKine,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004,10004,PtyPerson,_NA_,Carolina,Carrillo,MeSpTyDent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100195,100195,PtyPerson,_NA_,Sofia,Alegria,NaN,CHL,F,1.443323e+12,Rojas,NaN,NaN,NaN
96,100196,100196,PtyPerson,_NA_,Luis,Alegria,NaN,CHL,M,5.626476e+11,Carrasco,NaN,NaN,NaN
97,100197,100197,PtyPerson,_NA_,Maribel,Rojas,NaN,CHL,F,5.582448e+11,Carrasco,NaN,NaN,NaN
98,100198,100198,PtyPerson,_NA_,Manuel Rodrigo,Quijada,NaN,CHL,M,7.691472e+11,Miranda,NaN,NaN,NaN
99,100199,100199,PtyPerson,_NA_,Sylvia,Vasquez,NaN,CHL,F,-2.472624e+11,Sandoval,NaN,NaN,NaN

In [123]:
personas.loc[1]

partyId                            10001
pseudoId                           10001
partyTypeEnumId                PtyPerson
ownerPartyId                        _NA_
firstName                         Javier
lastName                       Errázuriz
occupation                   MeSpTyOther
nationality                          CHL
gender                               NaN
birthDate                            NaN
mothersMaidenName                    NaN
workInHealth                         NaN
healthInsuranceRoleTypeId            NaN
organizationName                     NaN
Name: 1, dtype: object

In [124]:
url = 'https://covid.renca.cl/rest/s1/cvdcntrl/CaseTest'
params = {'pageNoLimit':'true'}
response = requests.get(url=url,params=params, auth=('javier.errazuriz@renca.cl','Covidrenca#1'))
data = response.json()
tests = pd.DataFrame(data)

In [125]:
tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3317 entries, 0 to 3316
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   caseTestId           3317 non-null   object
 1   workEffortId         3317 non-null   object
 2   testTypeEnumId       2445 non-null   object
 3   testStatusEnumId     3255 non-null   object
 4   testDate             2439 non-null   float64
 5   testSiteEnumId       2515 non-null   object
 6   resultsDate          1577 non-null   float64
 7   testResultsEnumId    2512 non-null   object
 8   lastUpdatedStamp     3317 non-null   int64
 9   specialistPartyId    2119 non-null   object
 10  workEffortContentId  67 non-null     object
 11  testComment          233 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 311.1+ KB

In [126]:
tests.head()

,caseTestId,workEffortId,testTypeEnumId,testStatusEnumId,testDate,testSiteEnumId,resultsDate,testResultsEnumId,lastUpdatedStamp,specialistPartyId,workEffortContentId,testComment
0,100000,100001,CoTyTeNasoOroFar,CoStTeYes,1.583809e+12,CoSiTeMunicipal,1.583809e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
1,100001,100002,CoTyTeNasoOroFar,CoStTeYes,1.583982e+12,CoSiTeMunicipal,1.583982e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
2,100002,100003,CoTyTeNasoOroFar,CoStTeYes,1.583982e+12,CoSiTeMunicipal,1.583982e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
3,100003,100004,CoTyTeNasoOroFar,CoStTeYes,1.584068e+12,CoSiTeMunicipal,1.584068e+12,CoReTeNegative,1588297950063,NaN,NaN,NaN
4,100004,100005,CoTyTeOther,CoStTeYesDenied,1.584241e+12,CoSiTeOther,1.584241e+12,CoReTeTestDenied,1588297950063,NaN,NaN,NaN

In [127]:
sorted = tests.sort_values(by=['workEffortId','resultsDate'],ascending=False)

In [128]:
tests_rapidos = sorted['testTypeEnumId']=='CoTyTeFastTest'
tests_positivos = sorted['testResultsEnumId']=='CoReTePositive'

In [129]:
tests_filtrados = sorted[~tests_rapidos & tests_positivos]

In [130]:
tests_positivos_duplicados = tests_filtrados[tests_filtrados.duplicated(subset='workEffortId',keep=False)]

In [131]:
test_multiples = sorted[sorted.duplicated(subset=['workEffortId','testDate'],keep=False)]